resources/AllCards.json
resources/AllCards-x.json
resources/AllSets.json
resources/test.js
resources/node_modules/
resources/errors.txt
resources/getPrices*
resources/prices.json
resources/rulings.json
resources/AllCards-x.json.zip
resources/AllSets.json.zip
resources/SetList.json
