.nav-item {
    display: inline;
    color: rgba(255,255,255,.5);
}

.nav-item:hover, .nav-item:active, .nav-item:visited {
    display: inline;
    color: rgba(255,255,255,.75);
}

.nav-item.active {
    color: #FFF;
}

.container-fluid {
    max-width: 1140px;
}

/* https://stackoverflow.com/questions/4753946/html5-slider-with-two-inputs-possible/31083391#31083391 */
.double-slide-container {
  position: relative;
  width: 100%;
  height: 70px;
}

.double-slide-container input {
  /* background: lightgray; */
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 35px;
  width: 100%;
  outline: none;
  margin: 0;
  padding: 0;
}

.double-slide-container input::-webkit-slider-thumb {
  pointer-events: all;
  position: relative;
  z-index: 1;
  outline: 0;
}

.double-slide-container input::-moz-range-thumb {
  pointer-events: all;
  position: relative;
  z-index: 10;
  -moz-appearance: none;
  width: 9px;
}

.double-slide-container input::-moz-range-track {
  position: relative;
  z-index: -1;
  background-color: rgba(0, 0, 0, 1);
  border: 0;
}
.double-slide-container input:last-of-type::-moz-range-track {
  -moz-appearance: none;
  background: none transparent;
  border: 0;
}
.double-slide-container input[type=range]::-moz-focus-outer {
border: 0;
}

.loader,
.loader:before,
.loader:after {
  background: rgb(41, 43, 44);
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: rgb(41, 43, 44);
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
